{% extends "base.html" %}

{% block main %}
<div class="profile-card">
    <div class="profile-header">
        <img class="profile-pic" src="{{ url_for('static', filename='female_avatar.png') }}" alt="profile pic">
        <div class="person-info">
            <h1>{{name}}</h1>
            <p>@{{username}}</p>
            <p>{{location}}</p>
            <p>{{date}}</p>
        </div>
    </div>
    <div class="profile-info">
        <div class="profile-bio">
            <p>{{bio}}</p>        
        </div>
        <div class="profile-stats">
            <div class="profile-stat">
                <p class="stat">{{prostat.posts}}</p>
                <p>Posts</p>
            </div>
            <div class="profile-stat">
                <p class="stat">{{prostat.following}}</p>
                <p>Following</p>
            </div>
            <div class="profile-stat">
                <p class="stat">{{prostat.followers}}</p>
                <p>Followers</p>
            </div>
            
        </div>
        <p>
            <button type="button" class="btn btn-follow">Follow</button>
        </p>
    </div>
</div>

{% endblock %}